.DS_Store
node_modules
/lib
/bin
/.svelte-kit
.env.*
!.env.example
.vercel
.output
/src/svemantic
/static/lib
/static/modules
/raw
/temp
/coverage
.vercel
.vscode/settings.json
# rollup has different setup on linux/windows, so dependencies are different
#package-lock.json